In [6]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is', name + '.', 'Your age is ', age)

What is your name? zakir
What is your age? 21
Your name is zakir. Your age is  21

In [7]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print('These numbers are equal')
else:
  print('These numbers are not equal')

These numbers are not equal

In [11]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=4
b=12
if a>b:
  print('First number is greater than second number')
elif a==b:
  print('First number is equal to second number')
else:
  print('First number is less than second number')

First number is less than second number

In [15]:
from re import I
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1, 6):
  print(k)

1
2
3
4
5

In [19]:
#Q5-Using while loop, print 5,4,3,2,1
k = 6
while (True):
  k -= 1
  print(k)
  if k == 1:
    break

5
4
3
2
1

In [20]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10, -1, -2):
  if k != 8:
    print(k)

10
6
4
2
0

In [25]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

date_of_birth = 1944
def age(date_of_birth):
  return 2026 - date_of_birth
if date_of_birth == 1944:
  print('Age is', age(date_of_birth))

Age is 82

In [32]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y

  def substraction(x,y):
    return x - y

  def multiplication(x,y):
    return x * y

  def division(x,y):
    if y == 0:
      return 'You cannot divide by zero'
    else:
      return x / y

print('addition:',arithmetic.addition(3,4))
print('substraction:', arithmetic.substraction(3,4))
print('multiplication:',arithmetic.multiplication(3,4))
print('division:', arithmetic.division(12,0))

addition: 7
substraction: -1
multiplication: 12
division: You cannot divide by zero

In [42]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
  total += i
  print(total)

Enter a number: 5
1
3
6
10
15

In [46]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random

numbers = []
for i in range(10):
  numbers.append(random.random())
print(numbers[:3])

[0.5881835371886179, 0.07811257691896134, 0.5040531461843509]

In [56]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n = int(input("Enter a number: "))

for i in range(1, n + 1):
  if(i % 3 == 0):
    print(i)

Enter a number: 12
3
6
9
12